.DS_Store
*.log
*.class
*.jar
*.war
*.ppk
*.orig
git.properties
.classpath
.project
target/
logs/
bin/
temp/
reports/
.settings/
.project
.JxBrowser/
.java/
.soapui/
.ant-targets-build.xml
org.eclipse.jdt.core.prefs
*.iml
.idea
*.ipr
*.DS_Store
x86/
*.mk
*.txt
Makefile
